.OverviewMain {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    margin-top: 50px;
    border: #acadb8 solid 1px;
    border-radius: 5px;
    height: 302px;
    background: rgb(226, 221, 221);

    /* padding :10px; */
}
.OverviewMain .drop{
    position: relative;
    width: 100px;
    left: 25%;
    color: black;
}
.OverviewMain .drop2{
    position: relative;
    width: 100px;
    left: 58.5%;
    
    color: black;
}

